<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Origin 1</th>
      <th>Origin 2</th>
      <th>Class 1</th>
      <th>Class 2</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Ao Shin</td>
      <td>Tempest</td>
      <td>None</td>
      <td>Dragon</td>
      <td>None</td>
      <td>8</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Aphelios</td>
      <td>DarkFlight</td>
      <td>None</td>
      <td>Cannoneer</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Aurelion Sol</td>
      <td>Astral</td>
      <td>None</td>
      <td>Dragon</td>
      <td>Evoker</td>
      <td>8</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Bard</td>
      <td>Guild</td>
      <td>None</td>
      <td>Bard</td>
      <td>Mage</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Braum</td>
      <td>Scalescorn</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Daeja</td>
      <td>Mirage</td>
      <td>None</td>
      <td>Dragon</td>
      <td>None</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Diana</td>
      <td>Scalescorn</td>
      <td>None</td>
      <td>Assassin</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Ezreal</td>
      <td>Tempest</td>
      <td>None</td>
      <td>Swiftshot</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Gnar</td>
      <td>Jade</td>
      <td>None</td>
      <td>Shapeshifter</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Graves</td>
      <td>Tempest</td>
      <td>None</td>
      <td>Cannoneer</td>
      <td>None</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Hecarim</td>
      <td>Ragewing</td>
      <td>None</td>
      <td>Cavalier</td>
      <td>None</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Heimerdinger</td>
      <td>None</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Idas</td>
      <td>Shimmerscale</td>
      <td>None</td>
      <td>Dragon</td>
      <td>Guardian</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Jax</td>
      <td>Jade</td>
      <td>Shimmerscale</td>
      <td>Bruiser</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Jayce</td>
      <td>Guild</td>
      <td>None</td>
      <td>Shapeshifter</td>
      <td>None</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Kaisa</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Dragonmancer</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Karma</td>
      <td>Jade</td>
      <td>None</td>
      <td>Dragonmancer</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lee Sin</td>
      <td>Tempest</td>
      <td>None</td>
      <td>Dragonmancer</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Leona</td>
      <td>Mirage</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lillia</td>
      <td>Scalescorn</td>
      <td>None</td>
      <td>Cavalier</td>
      <td>Guardian</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lulu</td>
      <td>None</td>
      <td>None</td>
      <td>Evoker</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lux</td>
      <td>Astral</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Malphite</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Bruiser</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nasus</td>
      <td>Shimmerscale</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nidalee</td>
      <td>Astral</td>
      <td>None</td>
      <td>Shapeshifter</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nilah</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Assassin</td>
      <td>None</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nomsy</td>
      <td>Prodigy</td>
      <td>None</td>
      <td>Dragon</td>
      <td>None</td>
      <td>6</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nunu</td>
      <td>Mirage</td>
      <td>None</td>
      <td>Cavalier</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Olaf</td>
      <td>Scalescorn</td>
      <td>None</td>
      <td>Bruiser</td>
      <td>Warrior</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Pantheon</td>
      <td>Whisper</td>
      <td>None</td>
      <td>Warrior</td>
      <td>None</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Qiyana</td>
      <td>Tempest</td>
      <td>None</td>
      <td>Assassin</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Rakan</td>
      <td>Ragewing</td>
      <td>None</td>
      <td>Guardian</td>
      <td>Mage</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Rell</td>
      <td>DarkFlight</td>
      <td>None</td>
      <td>Cavalier</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Rengar</td>
      <td>DarkFlight</td>
      <td>None</td>
      <td>Assassin</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sejuani</td>
      <td>Guild</td>
      <td>None</td>
      <td>Cavalier</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Senna</td>
      <td>Ragewing</td>
      <td>None</td>
      <td>Cannoneer</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Seraphine</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Evoker</td>
      <td>Mage</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sett</td>
      <td>Ragewing</td>
      <td>None</td>
      <td>Dragonmancer</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Shi Oh Yu</td>
      <td>Jade</td>
      <td>None</td>
      <td>Dragon</td>
      <td>Mage</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Shyvana</td>
      <td>Ragewing</td>
      <td>None</td>
      <td>Dragon</td>
      <td>Shapeshifter</td>
      <td>8</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Skarner</td>
      <td>Astral</td>
      <td>None</td>
      <td>Bruiser</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sohm</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Dragon</td>
      <td>Guardian</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Soraka</td>
      <td>Jade</td>
      <td>None</td>
      <td>Star Caller</td>
      <td>None</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Swain</td>
      <td>DarkFlight</td>
      <td>None</td>
      <td>Dragon</td>
      <td>None</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Syfen</td>
      <td>Whisper</td>
      <td>None</td>
      <td>Dragon</td>
      <td>Bruiser</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sylas</td>
      <td>Whisper</td>
      <td>None</td>
      <td>Bruiser</td>
      <td>Guardian</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Taliyah</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Terra</td>
      <td>Monolith</td>
      <td>None</td>
      <td>Dragon</td>
      <td>None</td>
      <td>8</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Tristana</td>
      <td>None</td>
      <td>None</td>
      <td>Cannoneer</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Twitch</td>
      <td>Guild</td>
      <td>None</td>
      <td>Swiftshot</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Varus</td>
      <td>Astral</td>
      <td>None</td>
      <td>Swiftshot</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Vladimir</td>
      <td>Astral</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Volibear</td>
      <td>Shimmerscale</td>
      <td>None</td>
      <td>Dragonmancer</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Wukong</td>
      <td>Jade</td>
      <td>None</td>
      <td>Warrior</td>
      <td>None</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Xayah</td>
      <td>Ragewing</td>
      <td>None</td>
      <td>Swiftshot</td>
      <td>None</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Yasuo</td>
      <td>Mirage</td>
      <td>None</td>
      <td>Dragonmancer</td>
      <td>Warrior</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Yone</td>
      <td>Mirage</td>
      <td>None</td>
      <td>Warrior</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zac</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Guardian</td>
      <td>None</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zeri</td>
      <td>Lagoon</td>
      <td>None</td>
      <td>Cannoneer</td>
      <td>None</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zippy</td>
      <td>Guild</td>
      <td>None</td>
      <td>Dragon</td>
      <td>None</td>
      <td>6</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zoe</td>
      <td>Shimmerscale</td>
      <td>None</td>
      <td>Guardian</td>
      <td>Spell-Thief</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zyra</td>
      <td>Whisper</td>
      <td>None</td>
      <td>Evoker</td>
      <td>None</td>
      <td>2</td>
    </tr>
  </tbody>
</table>