<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Sett</td>
      <td>Recurve Bow</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sett</td>
      <td>Sparring Gloves</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sett</td>
      <td>Negatron Cloak</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sett</td>
      <td>Needlessly Large Rod</td>
      <td>1</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sett</td>
      <td>B.F. Sword</td>
      <td>1</td>
    </tr>
  </tbody>
</table>