<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Class 1</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Terra</td>
      <td>Dragon</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Ao Shin</td>
      <td>Dragon</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Aurelion Sol</td>
      <td>Dragon</td>
      <td>Evoker</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Bard</td>
      <td>Bard</td>
      <td>Mage</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Shyvana</td>
      <td>Dragon</td>
      <td>Shapeshifter</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zoe</td>
      <td>Guardian</td>
      <td>Spell-Thief</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Soraka</td>
      <td>Star Caller</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Shi Oh Yu</td>
      <td>Dragon</td>
      <td>Mage</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Yasuo</td>
      <td>Dragonmancer</td>
      <td>Warrior</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Idas</td>
      <td>Dragon</td>
      <td>Guardian</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Seraphine</td>
      <td>Evoker</td>
      <td>Mage</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zyra</td>
      <td>Evoker</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nidalee</td>
      <td>Shapeshifter</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zeri</td>
      <td>Cannoneer</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Rakan</td>
      <td>Guardian</td>
      <td>Mage</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Varus</td>
      <td>Swiftshot</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lux</td>
      <td>Guardian</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Skarner</td>
      <td>Bruiser</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Vladimir</td>
      <td>Guardian</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nilah</td>
      <td>Assassin</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Nomsy</td>
      <td>Dragon</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Pantheon</td>
      <td>Warrior</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sylas</td>
      <td>Bruiser</td>
      <td>Guardian</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Graves</td>
      <td>Cannoneer</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Xayah</td>
      <td>Swiftshot</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Jayce</td>
      <td>Shapeshifter</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zac</td>
      <td>Guardian</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Twitch</td>
      <td>Swiftshot</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Syfen</td>
      <td>Dragon</td>
      <td>Bruiser</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zippy</td>
      <td>Dragon</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Sejuani</td>
      <td>Cavalier</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Olaf</td>
      <td>Bruiser</td>
      <td>Warrior</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Hecarim</td>
      <td>Cavalier</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Braum</td>
      <td>Guardian</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Gnar</td>
      <td>Shapeshifter</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Lee Sin</td>
      <td>Dragonmancer</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Qiyana</td>
      <td>Assassin</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Aphelios</td>
      <td>Cannoneer</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Diana</td>
      <td>Assassin</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Rengar</td>
      <td>Assassin</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Wukong</td>
      <td>Warrior</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Karma</td>
      <td>Dragonmancer</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Ezreal</td>
      <td>Swiftshot</td>
      <td>NONE</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Swain</td>
      <td>Dragon</td>
      <td>NONE</td>
    </tr>
  </tbody>
</table>