<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Champion</th>
      <th>Origin1</th>
      <th>Origin2</th>
      <th>Class1</th>
      <th>Class2</th>
      <th>Cost</th>
      <th>Mana</th>
      <th>Starting Manga</th>
      <th>Armor</th>
      <th>Magic Resistance</th>
      <th>Attack Speed</th>
      <th>Critical Rate</th>
      <th>Range</th>
      <th>Ability</th>
      <th>Ability Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Rengar</td>
      <td>DarkFlight</td>
      <td>None</td>
      <td>Assassin</td>
      <td>None</td>
      <td>3</td>
      <td>120</td>
      <td>60</td>
      <td>30</td>
      <td>30</td>
      <td>0.75</td>
      <td>25</td>
      <td>1</td>
      <td>Unseed Predator</td>
      <td>Rengar leaps to the lowest armor enemy, dealing a percent of his Attack Damage plus bonus magic damage. He then gains a burst of Attack Speed for his next 2 attacks.</td>
    </tr>
  </tbody>
</table>