<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item</th>
      <th>Component 1</th>
      <th>Component 2</th>
      <th>Description</th>
      <th>Tier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bloodthirster</td>
      <td>B.F. Sword</td>
      <td>Negatron Cloak</td>
      <td>Grant 25% Omnivamp. Once per combat: At 40% Health, gain a 25% maximum Health shield that lasts up to 5 seconds.</td>
      <td>S</td>
    </tr>
    <tr>
      <th>0</th>
      <td>DeathBlade</td>
      <td>B.F. Sword</td>
      <td>B.F. Sword</td>
      <td>Grant 15/30/45â˜… bonus Attack Damage.</td>
      <td>B</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Edge of Night</td>
      <td>B.F. Sword</td>
      <td>Chain Vest</td>
      <td>Once per combat: At 60% Health, briefly become stealthed, becoming untargetable and shedding negative effects. Then, grant 40% bonus Attack Speed. [Unique - only 1 per champion]</td>
      <td>C</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Zeke's Herald</td>
      <td>B.F. Sword</td>
      <td>Giant's Belt</td>
      <td>Combat start: Grant 30% Attack Speed to the holder and allies within 1 hex in the same row.[Aura item]</td>
      <td>D</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Hextech Gunblade</td>
      <td>Needlessly Large Rod</td>
      <td>B.F. Sword</td>
      <td>Grant 25% Omnivamp. Damage heals the lowest percent Health ally for the same amount.</td>
      <td>A</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Giant Slayer</td>
      <td>B.F. Sword</td>
      <td>Recurve Bow</td>
      <td>Abilities and attacks deal 20% bonus damage. If the target has more than 2200 maximum Health, the bonus increases to 45%.</td>
      <td>A</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Infinity Edge</td>
      <td>B.F. Sword</td>
      <td>Sparring Gloves</td>
      <td>Grant 60% bonus Critical Strike Chance and 10% bonus Critical Strike Damage. Each point of Critical Strike Chance above 100% converts to 1% Critical Strike Damage. [Unique - only 1 per champion]</td>
      <td>A</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Shimmerscale Emblem</td>
      <td>B.F. Sword</td>
      <td>Spatula</td>
      <td>The holder gains the Shimmerscale trait. [Unique - Only One Per Champion]</td>
      <td>?</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Spear of Shojin</td>
      <td>B.F. Sword</td>
      <td>Tear of the Goddess</td>
      <td>Grant 20 bonus Ability Power. Attacks restore 5 additional Mana.</td>
      <td>S</td>
    </tr>
  </tbody>
</table>