<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Index</th>
      <th>Origin</th>
      <th>Tier</th>
      <th>Description</th>
      <th>Required 1</th>
      <th>Bonus  1</th>
      <th>Required 2</th>
      <th>Bonus 2</th>
      <th>Required 3</th>
      <th>Bonus 3</th>
      <th>Required 4</th>
      <th>Bonus 4</th>
      <th>Required 5</th>
      <th>Bonus 5</th>
      <th>Required 6</th>
      <th>Bonus 6</th>
      <th>Required 7</th>
      <th>Bonus 7</th>
      <th>Required 8</th>
      <th>Bonus 8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5</td>
      <td>Lagoon</td>
      <td>B</td>
      <td>Lagoon units gain bonus Ability Power and Attack Speed. A Seastone appears on the board that grants loot as Lagoon units cast Abilities over time.</td>
      <td>3</td>
      <td>8 Ability Power, 8% Attack Speed</td>
      <td>6</td>
      <td>30 Ability Power, 30% Attack Speed</td>
      <td>9</td>
      <td>55 Ability Power, 55% Attack Speed</td>
      <td>12</td>
      <td>200 Ability Power, 200% Attack Speed</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>