<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Index</th>
      <th>Origin</th>
      <th>Tier</th>
      <th>Description</th>
      <th>Required 1</th>
      <th>Bonus  1</th>
      <th>Required 2</th>
      <th>Bonus 2</th>
      <th>Required 3</th>
      <th>Bonus 3</th>
      <th>Required 4</th>
      <th>Bonus 4</th>
      <th>Required 5</th>
      <th>Bonus 5</th>
      <th>Required 6</th>
      <th>Bonus 6</th>
      <th>Required 7</th>
      <th>Bonus 7</th>
      <th>Required 8</th>
      <th>Bonus 8</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>